<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions - ReelCareer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        

    
    <style>
        body {
            padding: 20px;
        }
    </style>

<script src="https://reelcareer.co/public/js/scripts.js"></script>
<script src="https://reelcareer.co/public/js/loadScripts.js"></script>
<link rel="stylesheet" href="https://reelcareer.co/public/css/styles.css">

<!-- Main Script Loader -->
    <script src="https://reelcareer.co/scripts/js/loader.js"></script>
</head>


<body>
    <script src="https://reelcareer.co/public/js/bodyload.js"></script>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://reelcareer.co">ReelCareer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="https://reelcareer.co/u/">User Page</a></li>
                <li class="nav-item"><a class="nav-link" href="https://reelcareer.co/messaging">Messaging</a></li>
                <li class="nav-item"><a class="nav-link" href="https://reelcareer.co/video-resume">Video Resume</a></li>
                <li class="nav-item"><a class="nav-link" href="https://reelcareer.co">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li id="lastBreadcrumb_home" class="breadcrumb-item"><a href="https://reelcareer.co/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
        </ol>
      </nav>
    <div class="container mt-5">
        <h1 class="text-center">Terms and Conditions</h1>
        <p>Last updated: 12/14/2024</p>
        
        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using our website, you agree to be bound by these Terms and Conditions and our Privacy Policy.</p>

        <h2>2. Changes to Terms</h2>
        <p>We reserve the right to modify these Terms at any time. Your continued use of the website after any changes constitutes your acceptance of the new Terms.</p>

        <h2>3. User Responsibilities</h2>
        <p>You agree to use the website only for lawful purposes and in a way that does not infringe the rights of any third party.</p>

        <h2>4. Account Security</h2>
        <p>You are responsible for maintaining the confidentiality of your account information, and you agree to notify us immediately of any unauthorized use of your account.</p>

        <h2>5. Termination</h2>
        <p>We may terminate or suspend your access to the website immediately, without prior notice or liability, for any reason, including if you breach these Terms.</p>

        <h2>6. Disclaimers</h2>
        <p>The website is provided on an "as-is" basis, and we make no warranties regarding the completeness, reliability, or accuracy of the information provided.</p>

        <h2>7. Limitation of Liability</h2>
        <p>In no event shall we be liable for any damages arising from the use or inability to use the website.</p>

        <h2>8. Governing Law</h2>
        <p>These Terms shall be governed by and construed in accordance with the laws of the Taxas.</p>

        <h2>9. Contact Us</h2>
        <p>If you have any questions about these Terms, please contact us at <a href="https://reelcareer.co/support">support@reelcareer.com</a>.</p>
    </div>


    <!-- Footer -->
    <footer id="dynamic-footer"></footer>
    
<!-- Firebase configuration/ Login& Out -->
<script type="module" src="https://reelcareer.co/public/js/main.js"></script> 
<script type="module">
    import { db } from 'https://reelcareer.co/public/js/main.js'; // Adjust the path based on your structure
   import { doc, query, where, orderBy, limit, collection, getDocs, getDoc } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js";


   </script>
   
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
