html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
 /*   background-color: #f4f4f4 !important; */

 animation: backgroundFade 2s ease forwards;

}


/* Keyframes for fading background color */
@keyframes backgroundFade {
    from {
        background-color: #ffffff !important; /* Start with white */
    }
    to {
        background-color: #f4f4f4 !important; /* Fade to target color */
    }
}

main {
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    height: 100%;
    display: grid;
    font-family: 'Roboto', sans-serif;
      
}
.text-light {
    color: #676767 !important;
}
#dynamic-footer {
    background: linear-gradient(to bottom, #f4f4f4, #83bad9);
    color: #676767 !important;

}


h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize !important;
}


.form-group {
    gap: 1rem;
    display: flex;
}

*{
    user-select: none;
    box-sizing: border-box;
}
.fw-800{
    font-weight: 800;
}

.embossed {
    text-shadow: 1px 1px 0px rgb(0 0 0 / 31%), 2px 2px 0px rgb(0 0 0 / 11%), 3px 3px 0px rgb(0 0 0 / 25%) !important;
}

.embedded-Logo {
    position: relative;
    text-shadow: 1px 1px 0 #83bad92b, -1px -1px 0 #639ad400, 0 0 10px #83bad926 !important;
    color: #f4f4f4 !important;
    user-select: none;
    font-size: 2.75rem;
    font-family: cursive;

}
.rounded-circle {
    color: white;
    border: white solid .1rem;
    border-radius: 50% !important;
    background: #e8e9fd;   

}
.dropdown-toggle-light {
    color: #fff;
    background: linear-gradient(135deg, #83bad9, transparent);
    border-color: #007bff;
    border-radius: 8px;
}
.dropdown-toggle-dark {
    color: white;
    border: white solid .1rem;
    border-radius: 8px;
}

.main-navbar-dark{
    background: linear-gradient(135deg, #83bad9, #95c3dd);
}

.main-navbar-light {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    background: linear-gradient(135deg, #83bad9, #95c3dd);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: fit-content;
    vertical-align: middle;
    /* content: ""; */
    background: no-repeat center center;
    background-size: 100% 100%;
}
#main-search-btn {
    background: linear-gradient(to bottom, #f4f4f4, #83bad9);
    color: #676767 !important;
}

#main-hero {
    background: linear-gradient(135deg, #83bad9, transparent);

}
.font-weight-bold {
    font-weight: 700 !important;
    user-select: none;
    font-size: 2.75rem !important;
}

.job-title-link, .badge, .btn, .btn-primary, .btn-secondary, .breadcrumb-item, .cap  {
    text-transform: capitalize !important;
}

.mainBGcolor{
    background-color: #639ad4 !important;

}
.mainColor{
    color: #639ad4 !important;
}
.colorWhite{
    color: #ffffff !important;
}
.colorGray{
    color: #6e6e6e !important;
}
.colorDarkBlue{
    color: #09213a !important;
}
.colorRed{
    color: #d30000 !important;
}
.colorGreen{
    color: #05722a !important;
}
.colorLightGray{
    color: #949596 !important;
}
.colorDarkGray{
    color: #444444 !important;
}
.colorBlack{
    color: #222222 !important;
}

.bg-mainColor {
    background-color: #639ad4 !important;
}

.bg-colorWhite {
    background-color: #ffffff !important;
}

.bg-colorGray {
    background-color: #6e6e6e !important;
}

.bg-colorDarkBlue {
    background-color: #09213a !important;
}

.bg-colorRed {
    background-color: #d30000 !important;
}

.bg-colorGreen {
    background-color: #05722a !important;
}

.bg-colorLightGray {
    background-color: #949596 !important;
}

.bg-colorDarkGray {
    background-color: #444444 !important;
}

.bg-colorBlack {
    background-color: #222222 !important;
}



/* Flexbox for equal height */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures spacing between items */
    max-height: 5rem;
  }
  
  .blog-card {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    flex: 1 1 30%; /* Cards take up 30% of the container width, adjust as needed */
    margin-bottom: 20px; /* Space between cards */
  }
  
  .blog-card .card-body {
    flex-grow: 1; /* Makes the body grow to fill available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced within the card */
  }
  
  .blog-card .card-title {
    margin-bottom: .75rem;
    color: #909090 !important;
    background-color: #f3f3f3 !important;
    padding: 5px 10px;
    border-radius: 5px;

}
  .blog-card .card-body a {
    color: #047af1 !important;
  }
  
.noCopy {
    user-select: none !important;
}
/* Headings */
h1 {
    color: #5b6369;
    font-size: 2rem; /* Increased size for better visibility */
}

h2 {
    font-size: 2.50rem;
    color: #5b6369;
    text-shadow: -1px 1px 0px #83bad9;
    font-weight: 800;
}
h3 {
    font-size: 2.75rem;
    color: #83bad9;
    text-shadow: -1px 1px 0px #9e9a9a;
    font-weight: 800;
}
 h5  {
    font-size: 1.25rem;
    color: #83bad9;
    text-shadow: -1px 1px 0px #9e9a9a;
    font-weight: 500;
}

.card h3 {
    font-size: 1.75rem;
    color: #83bad9;
    text-shadow: -1px 1px 0px #9e9a9a;
    font-weight: 800;
}

hr {
    border-top: 1px solid #e9ecef;
    margin: 20px 0;
}

/* Links */
a {
    color: #639ad4;
    text-decoration: none !important;
}

a:hover {
    color: #37567b;
    text-decoration: none !important;
}

/* Buttons */
button{
    background-color: #639ad4;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}
main .btn-primary:hover {
    background-color: #416a9c !important;
    border-color: #639ad4 !important;
    border-style: solid !important;
    border-width: 5px !important;
    transition: background-color 0.3s ease;

}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: flex-end;
    justify-content: space-around;
    align-items: baseline;
}

.nav-link {
    font-size: 1.2rem;
    color: #335274;
    padding: .5rem 1rem;
}

main .btn-primary {
   /* background-color: #639ad4 !important; */
    background-color: #639ad475 !important;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



main .btn-info {
    background-color: #83bad9 !important;
    color: #fff;
    border-color: #17a2b8;
}

main .btn-info:hover {
    background-color: #6c757d;
}

/* Cards */
.container > .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px; /* Increased padding for better readability */
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}


.jobCard:hover,
.blog-card:hover,
.similar-job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(41 9 244 / 8%);

}

.jobCard,
.blog-card,
.similar-job-car {
    min-width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 300px;
}

.gridBody  {
    grid-gap: .05rem !important;
    display: grid !important;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    justify-items: stretch;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    width: 300px;
}

#similarJobsContainer{
    display: flex;
    flex-wrap: wrap;

}
.JOB_CARD{

    margin: 0;
    padding: 0;
    min-width: 30%;
    flex-basis: max-content;
}
.JOB_CARD {
    opacity: 1;
    width: 100%;
    display: grid;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: stretch;

    .card-top {

        display: grid !important;
        width: 260px;
        column-gap: .5rem !important;
        -webkit-text-stroke: thin;
        grid-row: auto;
        grid-area: auto;
        grid-gap: .05rem !important;
        align-content: space-between;
        justify-content: space-around;
        align-items: start;
        justify-items: stretch; 
    }
    .card-bottom {
        text-transform: capitalize;
        background-color: rgba(99, 154, 212, 0.1);
        padding: 10px 25px;
        border-radius: 5px;
        border: solid 1px rgba(132, 173, 234, 0.1);
        margin: .5rem auto;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        font-size: x-large;

    }



    .location-text-area {
        font-size: 1rem;
        color: #666;
        margin-bottom: 5px;
        justify-content: flex-start;
        text-transform: capitalize;
        text-decoration: none;
    }
    .location-text-area a {
        font-size: 1rem;
        color: #4231b0;
        justify-content: flex-start;
        text-transform: capitalize;
        text-decoration: none;
    }
    .job-type-text-area {
        font-size: 1rem;
        color: #666;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-start;
        text-transform: capitalize;
        text-decoration: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
    }

.salary-text-area {
    font-size: 1rem;
    color: #666;
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
}
.location-text-area i,
.job-type-text-area strong {
    margin-right: .2rem;
}

.salary-text-area {
    font-size: 1rem;
    color: #666;
    justify-content: space-evenly;
    text-transform: capitalize;
    text-decoration: none;
    word-break: auto-phrase;
    display: grid;
    justify-items: center;
    align-content: stretch;
    align-items: end;
    margin-top: .2rem;
}

.salary-text {
    font-style: italic !important;
    color: #6c757d !important;
    text-transform: capitalize;
    text-decoration: none;

}

.company-card-text-area {
    height: fit-content;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    background-color: rgba(220, 220, 220, 0.08);
    border-radius: 5px;
    border: solid 1px rgba(132, 173, 234, 0.03);
    padding: 9px;

}

.card lin {
    font-size: 1.5rem;
    font-weight: 800;
    color: #639ad4a3;
    margin-bottom: 10px;
    text-decoration: none;
}
    .card-CTA-Btn {
        padding: 12px 0;
        background-color: #007bff;
        border: none;
        font-weight: 600;
        border-radius: 8px;
        font-size: 16px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        color: white;
        text-align: center;
        background: linear-gradient(2deg, #eff5fb, #9bbee4);
        text-transform: uppercase;

        height: fit-content;
    }


}

#dynamic-footer p {
    color: white;
}
.container > .card > h5 {
    font-size: 1.25rem;
    color: #80b6d5;
    font-weight: 600;
}

/* Forms */
/* Styles for input fields and textareas within the main element */
main input[type="text"],
main input[type="email"],
main textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f1f3f5; /* Light background */
    color: #000; /* Default text color */
    transition: border 0.3s ease;
}



/* Ensure inputs inside the job search form are white */
#jobSearchForm input[type="text"],
#jobSearchForm input[type="email"],
#jobSearchForm textarea {
    background-color: #ffffff; /* White background for inputs inside the job search form */
    color: #000; /* Text color for inputs */
}

main  input[type="text"]:focus,
main input[type="email"]:focus,
main  textarea:focus {
    border-color: #639ad4;
    outline: none;
}

/* Alerts */
.alert-success {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.alert-warning {
    background-color: #ffc107;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.alert-error {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

/* CTA Buttons */
.cta-button {
    background-color: #f68c7b;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 6px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background-color: #e27a69;
}

main{
    margin-bottom: 20px;
}


/* Ensure the row uses Flexbox */
    main .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly ;
        /* gap: 0.0rem 1rem; */
        row-gap: 0.5rem;
        grid-column-gap: 1rem;
        width: 100%;
        margin: 0;
        padding: 0;
    }

/* Ensure the card takes up full height */
main .card .h-100 {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure cards are stretched to fill the space */
}

/* Ensure card-body also stretches */
main .card-body {
    flex-grow: 1;
}

 .card .h-100 .card-body{
    display: flex;
    flex-direction: row;
    width: 100%; /* Ensure cards are stretched to fill the space */
}


.job-title-link:hover {
    text-decoration: underline;
}

main .jobCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}


.job-image-container {
    min-height: 150px; /* Adjust height based on your design */
    background-color: #f2f2f2; /* Placeholder background color */
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}





/* Checkbox Group */
.checkbox-group {
    text-align: left;
    margin-bottom: 1rem;
}

/* Textarea */
.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Animation for Modal Content */
.modal-content {
    transform: translateY(-50px);
    opacity: 0;
    animation: fadeInUp 0.3s forwards;
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-indent{
    padding-left: -2em;
    text-indent: 2em;
    
    
}



/* General Modal Styles for specific modals */
#applicationModal, 
#reportJobModal, 
.otherModals {
    display: none ;  /* Hidden by default */
    position: fixed; 
    z-index: 99999999; /* Highest z-index */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6);  /* Dark semi-transparent overlay */
    justify-content: center;
    align-items: center;
}

/* Modal content box */
#applicationModal .modal-content, 
#reportJobModal .modal-content, 
.otherModals .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    height: fit-content;
    position: absolute;
        text-align: center;
    transition: transform 0.3s ease-in-out;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;

}

/* Close Button */
#applicationModal .modal-content .close, 
#reportJobModal .modal-content .close, 
.otherModals .modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
}

#applicationModal .modal-content .close:hover, 
#reportJobModal .modal-content .close:hover, 
.otherModals .modal-content .close:hover {
    color: #000;
}

/* Modal Titles */
#applicationModal .modal-content h2, 
#reportJobModal .modal-content h2, 
.otherModals .modal-content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #333;
}

/* Paragraph */
#applicationModal .modal-content p, 
#reportJobModal .modal-content p, 
.otherModals .modal-content p {
    font-size: 1.1rem;
    color: #555;
}

/* Modal Actions */
#applicationModal .modal-actions, 
#reportJobModal .modal-actions, 
.otherModals .modal-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}






              /* State and City List Styling */
              #stateListContainer, #cityListContainer {
                display: grid;
                gap: 1rem;
                justify-content: start;
                align-content: stretch;
                align-items: baseline;
                justify-items: start;
                width: 100%;
              }
            
              .state-city-card {
                background-color: #f8f9fa;
                border-radius: 8px;
                padding: 20px;
                width: 200px;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s ease;
              }
            
              .state-city-card:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
              }
              .state-city-card         a {
    color: #565a5f;
    text-decoration: none !important;
    font-weight: 800;
}
              .state-city-card i {
                font-size: 30px;
                margin-bottom: 10px;
                color: #007bff;
              }
            
              .state-city-card p {
                font-size: 1rem;
                font-weight: bold;
                color: #333;
              }
            
              /* Button Styling */
              .explore-btn {
                background-color: #007bff;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 10px;
              }
            
              .explore-btn:hover {
                background-color: #0056b3;
              }

              .state-city-body {
                display: grid;
                width: 100%;
                gap: 1rem;
                justify-content: space-around;
                align-content: stretch;
                align-items: start;
                justify-items: stretch;
              }
              .city-group {
                width: 100%;
                display: grid;
                align-content: stretch;
                justify-content: space-between;
                align-items: start;
                justify-items: stretch;
              }

              .city-letter {
                display: block;

              }
              .state-list, 
              .city-list {

                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: space-around;
                align-items: flex-start;
                flex-wrap: wrap;
            
              }

              
              .apply-link {
                display: inline-block;
                margin-top: 10px;
                padding: 10px 15px;
                background: #007BFF;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
              }
          
              .apply-link:hover {
                background: #0056b3;
              }

              /* Container styling */

              .listContainer {
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: space-around;
                align-items: flex-start;
                flex-wrap: wrap;
              }


.jobs-header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    
    }  
  .header-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .header-subtitle {
    font-size: 1.5rem;
    color: #555;
    font-weight: 400;
  }
  
  .job-count {
    font-weight: 700;
    color: #007bff; /* Use a theme color */
  }
  
  .header-divider {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 10px auto;
    width: 80%; /* Optional */
  }
  
  /* Body content styling */

  .city-group {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .city-letter h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
  }
  

  .state-city-card {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .state-city-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .state-city-card i {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .state-city-card h4 {
    font-size: 1rem;
    color: #555;
    margin: 0;
  }
  

  /* Container styling */
.city-letter {
    margin: 20px 0; /* Add spacing around the block */
    text-align: left; /* Align text to the left */
  }
  
  .city-letter-title {
    font-size: 1.5rem; /* Adjust size for better readability */
    font-weight: 600; /* Make it semi-bold */
    color: #333; /* Neutral dark color for text */
    margin-bottom: 5px; /* Space between title and divider */
  }
  
  .city-count {
    font-size: 1rem; /* Slightly smaller size for count */
    font-weight: 400; /* Regular weight */
    color: #007bff; /* Accent color to distinguish count */
  }
  
  .city-divider {
    border: 0;
    height: 2px;
    background: linear-gradient(90deg, #007bff, #00c6ff); /* Gradient for a modern effect */
    width: 100%; /* Full width */
    margin-top: 5px; /* Space between title and divider */
  }
  

  #backToTopBtn {
    display: block;
    width: 100%;
  }

  .location-job-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .location-job-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .location-job-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
  }
  
  .location-job-card p {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
  }
  
  .location-job-card p strong {
    font-weight: bold;
    color: #333;
  }
  
  .location-job-card .apply-link {
    display: inline-block;
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .location-job-card .apply-link:hover {
    background-color: #0056b3;
  }
  
  .location-job-card p strong:first-child {
    color: #333;
  }
  
  .location-job-card .location-job-card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .location-job-card .location-job-card-info div {
    display: flex;
    align-items: center;
  }
  
  .location-job-card .location-job-card-info i {
    margin-right: 8px;
    font-size: 18px;
  }
  
  .location-job-card .location-job-card-info span {
    font-size: 16px;
  }
  
  .location-job-card .location-job-card-info .salary {
    font-weight: bold;
    color: #28a745;
  }
  
  .location-job-card .location-job-card-info .location {
    font-weight: 600;
  }
  
  .location-job-card .location-job-card-info .industry {
    font-weight: 600;
    color: #ff6f61;
  }
  
  .location-job-card .description-text {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
  }

  






  .similar-jobs {
    margin-top: 30px;
  }
  
  .similar-job-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .similar-job-card:hover {
    transform: translateY(-5px);
  }
  
  .similar-job-card h5 {
    font-size: 1.25rem;
    color: #80b6d5;
    font-weight: 600;
  }
  
  .similar-job-card .job-tags {
    margin-top: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .similar-job-card .badge {
    background-color: #80b6d5;
    color: #e9ecef;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
  
  .similar-job-card .view-job-btn {
    margin-top: 10px;
    text-align: right;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #80b6d5 !important;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
  .similar-job-card .view-job-btn:hover {
    background-color: #aaabac;
  }
  
  .similar-job-card .empty-state {
    padding: 20px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .similar-job-card .empty-state i {
    color: #ccc;
  }
  
  .similar-job-card .empty-state p {
    font-size: 1.1em;
    color: #666;
  }
  
  .similar-job-card .job-info-box {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .similar-job-card .job-info-box:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .similar-job-card .job-info {
    line-height: 1.2;
  }
  
  .similar-job-card .job-info p {
    margin: 5px 0;
  }
  
  .similar-job-card .job-info strong {
    color: #6c757d;
    font-weight: 600;
  }
  
  .similar-job-card .job-info span {
    font-weight: 400;
  }
  
  /* Buttons */
  .similar-job-card .btn-primary {
    background-color: #639ad4 !important;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .similar-job-card .btn {
    border-radius: 25px;
  }
  
  .similar-job-card .btn-outline-secondary:hover {
    background-color: #e9ecef;
  }
  
  /* Box Shadows */
  .similar-job-card .shadow-sm {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .similar-job-card .text-indent {
    text-indent: 1.5rem;
  }
  
  .similar-job-card img.job-logo {
    width: 150px;
    height: 150px;
  }
  
  /* Job Tags */
  .similar-job-card .job-tags button {
    background-color: #83bad9;
  }
  
  .similar-job-card .job-tags button:hover {
    background-color: #0056b3;
  }
  
  .similar-job-card .text-muted {
    font-size: 1rem;
    line-height: 1.6;
  }



  .newsletter-signup {
    padding: 20px;
}
.custom-checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    color: #fff;
}
.custom-checkbox-wrapper input {
    display: none;
}
.custom-checkbox-wrapper input:checked ~ .custom-checkbox {
    background-color: #007bff;
}
.custom-checkbox-wrapper input:checked ~ .custom-checkbox:before {
    content: "\\2714";
    display: block;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease;
}
.custom-checkbox:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#newsletterFormBtn:hover {
    background-color: #fff;
    color: #000;
}