





html {
    width: 100%;
    overflow-y: scroll;
    position: relative;
}
        /* General Styles */
        body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #dadadc;
        color: #333;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0; /* Start invisible */
    animation: fade-in 2s ease-in-out forwards; /* Fade in animation */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


* {
    box-sizing: border-box;
}
header {
    background: linear-gradient(45deg, #8f9cb0, #838383);
    padding: 20px;
    text-align: center;
    color: #fff;
}

        header h1 {
            margin: 0;
        }

      
        .section-header {
            text-align: center;
            font-size: 2em;
            margin-bottom: 20px;
            color: #3470b8;
        }






.breadcrumb {
    padding: 10px;
    background-color: #939393;
    font-size: 1em;
    width: 100%;
    text-align: left;
    text-indent: 1rem;

}

.breadcrumb a {
    color: #3470b8;
    text-decoration: none;
    padding: 5px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

main {
padding: 3rem;
height: 100%;
display: block;
min-height: 100%;
position: relative;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #002d63;
}

.section {
    margin-bottom: 30px;
}


footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg, #858080, #8c8bb1c2);
    color: white;
    margin-top: 40px;
}




.button-container {
    text-align: center;
}

.main button {
    padding: 10px 20px;
    background: linear-gradient(120deg, #8a8484, #676bb5);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.main button:hover {
    background-color: #95979c;
}